<div class="global couleur-main">
    <main class='principal'>
    	<section class="accueil">
	    	<h1>Exercice9</h1>
	    	<h2>Cours : Programmation et veille technologique</h2>
	    	<p>Projet utilisant Node.js, Express et MongoDB pour développer une application Web de gestion de membres</p>
    	</section>
    </main>
</div>	

